<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>5</key>
	<dict>
		<key>nick</key>
		<string>香菇水饺</string>
		<key>iamge4</key>
		<string>3.png</string>
		<key>iamge3</key>
		<string>choose1.png</string>
		<key>image2</key>
		<string>choose3.png</string>
		<key>image1</key>
		<string>choose2.png</string>
		<key>content</key>
		<string>今天吃了鸡排饭，味道不错！！开森！！</string>
		<key>commentNum</key>
		<string>3</string>
		<key>commentBtn</key>
		<string>uncomment.png</string>
		<key>praiseNum</key>
		<string>2</string>
		<key>priseBtn</key>
		<string>praise.png</string>
		<key>releaseTime</key>
		<string>2016-5-16</string>
		<key>Avatar</key>
		<string>choose1.png</string>
	</dict>
	<key>4</key>
	<dict>
		<key>nick</key>
		<string>蓝莓饼干</string>
		<key>image4</key>
		<string>2.png</string>
		<key>image3</key>
		<string>6.png</string>
		<key>image2</key>
		<string>7.png</string>
		<key>image1</key>
		<string>1.png</string>
		<key>content</key>
		<string>以后就可以每周回家啦</string>
		<key>commentNum</key>
		<string>3</string>
		<key>commentBtn</key>
		<string>comment.png</string>
		<key>praiseNum</key>
		<string>2</string>
		<key>priseBtn</key>
		<string>praise.dpng</string>
		<key>releaseTime</key>
		<string>2016-5-10</string>
		<key>Avatar</key>
		<string>choose3.png</string>
	</dict>
	<key>3</key>
	<dict>
		<key>nick</key>
		<string>羊角包</string>
		<key>image4</key>
		<string>3.png</string>
		<key>image3</key>
		<string>6.png</string>
		<key>image2</key>
		<string>4.png</string>
		<key>image1</key>
		<string>choose1.png</string>
		<key>content</key>
		<string>今天答辩，老师嘴下留情啊</string>
		<key>commentNum</key>
		<string>3</string>
		<key>commentBtn</key>
		<string>uncomment.png</string>
		<key>praiseNum</key>
		<string>2</string>
		<key>priseBtn</key>
		<string>praise.png</string>
		<key>releaseTime</key>
		<string>2016-5-16</string>
		<key>Avatar</key>
		<string>choose2.png</string>
	</dict>
	<key>2</key>
	<dict>
		<key>nick</key>
		<string>烤肠</string>
		<key>image4</key>
		<string>5.png</string>
		<key>image3</key>
		<string>choose3.png</string>
		<key>image2</key>
		<string>choose2.png</string>
		<key>image1</key>
		<string>choose1.png</string>
		<key>content</key>
		<string>毕业啦，要来开学校啦</string>
		<key>commentNum</key>
		<string>10</string>
		<key>commentBtn</key>
		<string>comment.png</string>
		<key>praiseNum</key>
		<string>2</string>
		<key>priseBtn</key>
		<string>praised.png</string>
		<key>releaseTime</key>
		<string>2016-5-14</string>
		<key>Avatar</key>
		<string>choose1.png</string>
	</dict>
	<key>1</key>
	<dict>
		<key>nick</key>
		<string>煎蛋</string>
		<key>image4</key>
		<string>4.png</string>
		<key>image3</key>
		<string>3.png</string>
		<key>image2</key>
		<string>2.png</string>
		<key>image1</key>
		<string>choose1.png</string>
		<key>content</key>
		<string>今天吃了鸡排饭，味道不错！！开森！！</string>
		<key>commentNum</key>
		<string>3</string>
		<key>commentBtn</key>
		<string>uncomment.png</string>
		<key>praiseNum</key>
		<string>2</string>
		<key>priseBtn</key>
		<string>praise.png</string>
		<key>releaseTime</key>
		<string>2016-5-16</string>
		<key>Avatar</key>
		<string>6.png</string>
	</dict>
</dict>
</plist>
